*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

nav{
    display: flex;
    justify-content:space-around;
    align-items: center;
    min-height: 8vh;
    background-color: #5fa8d3;
}

.logo {
    color: white;
    letter-spacing: 5px;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
}

.logo h1 {
    transition: transform 0.25s;
}

.logo a {
    text-decoration: none;
    color: white;
}

.logo h1:hover {
    transform: scale(1.1);
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 50%;
    max-width: 500px;
}

.nav-links li:hover {
    transform: scale(1.1);
}

.nav-links li{
    list-style: none;
    transition: transform .25s;
}

.nav-links a{
    color: white;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 20px;
}

.burger {
    display: none;
    z-index: 2;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px;
    transition: all 0.3s ease;
}

@media screen and (max-width:768px) {
    body {
        overflow-x: hidden;
    }

    .nav-links {
        position: absolute;
        z-index: 1;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: #5fa8d3;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateY(-100%);
        cursor: pointer;
        transition: transform 0.5s ease;
    }

    .nav-links li {
        opacity: 0;
    }

    .burger {
        display: block;
        cursor: pointer;
    } 

}

.nav-active {
    transform: translateY(0%);
    transition: transform 0.5s ease-out;
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }

    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2 {
    opacity: 0;
}
.toggle .line3 {
    transform: rotate(45deg) translate(-5px,-6px);
}